
a {
    text-decoration: none;
}
.canvas-container {
    background-color: aliceblue;
    width: 960px;
    height: 960px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    padding: 0;  
}
.canvas-blank, .{   
    width: 58px;
    height: 58px;
    border: 1px solid black;
    
}

.canvas-blank-fill{
    background-color: black;
}